# Xcode build files
DerivedData/
build/

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode workspace user data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store

# App archives and debug symbols
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace